$nav_padding: 25px;
$content_padding: 100px;
$icon_size: 70px;


body {
  margin: 0;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

/////////////////////////////////

.nav {
  z-index: 880;
  background-color: #ffe600;
  padding: 0 $nav_padding 0 $nav_padding;
  box-shadow: 0 3px 8px gray;

  display: grid;
  grid-template-columns: [logo-start] $icon_size [logo-end] auto [github-start] $icon_size [github-end linkedin-start] $icon_size [linkedin-end];
  grid-template-rows: [nav-start] auto [nav-end];
  grid-gap: 0 5px;
}

.logo {
  font-family: Roboto;
  font-style: bold;
  font-size: 6vh;
  color: #000000;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  grid-area: logo-start / span logo-end;
  grid-row: nav-start / span nav-end;
  place-self: center;
}

.github {
  grid-column: github-start / span github-end;
  grid-row: nav-start / span nav-end;
  place-self: center;
}


.linkedin {
  grid-column: linkedin-start / linkedin-end;
  grid-row: nav-start / nav-end;
  place-self: center;
}

.iconback {
  background-color: black;
  border-radius: 50%;
  padding: 6px 8px 6px 8px;
}

.iconback a {
  color: white;
}

///////////////////////////////////////

.content {
  display: grid;
  padding: $content_padding $content_padding 0 $content_padding;
  grid-template-columns: [profile-start] 2fr [profile-end intro-start] 5fr [intro-end];
  grid-template-rows: [profilerow-start] auto [profilerow-end];
  grid-gap: 0 50px;
}

.profile {
  grid-column: profile-start / span profile-end;
  grid-row: profilerow-start / span profilerow-end;
  place-self: center start;
}

.profile img {
  width: 100%;
  animation-name: profile-picture;
  animation-duration: 0.6s;
  border-radius: 50%;
}

@keyframes profile-picture {
  0%   {width: 0%;}
  30%  {width: 110%;}
  60%  {width: 110%;}
  100% {width: 100%;}
}

.introduction {
  font-family: Reenie Beanie;
  font-style: normal;
  font-size: 7vh;
  color: #000000;

  grid-column: intro-start / span intro-end;
  grid-row: profilerow-start / span profilerow-end;
  place-self: center stretch;
  .subtag {
    font-size: 4vh;
  }
  
  .resume {
    font-size: 4vh; 
  }  
}

.underline1 {
  left: 0px;
  background-color: black;
  animation-name: underline-1;
  animation-duration: 0.4s;
  animation-delay: 1s;
}

.underline2 {
  left: 20px;
  animation-name: underline-2;
  animation-duration: 0.4s;
  animation-delay: 2s;
}

.underline3 {
  left: 40px;
  animation-name: underline-3;
  animation-duration: 0.4s;
  animation-delay: 3s;
}

@keyframes underline-1 {
  0%   {height: 3px;}
  100% {width: 20px;}
}

@keyframes underline-2 {
  0%   {width: 0%;}
  100% {width: 20px;}
}

@keyframes underline-3 {
  0%   {width: 0%;}
  100% {width: 20px;}
}

////////////////////////////////////////

.interest{
  display: grid;
  padding: $content_padding $content_padding 0 $content_padding;
  grid-template-columns: [preicon-start] 1fr [preicon-end icon-start] 1fr [icon-end label-start] 1fr [label-end];
  grid-template-rows: [interest-start] auto [interest-end];
  grid-gap: 0 25px;
}

.preicon{
  font-family: Reenie Beanie;
  font-style: normal;
  font-size: 5vh;
  color: #000000;
  
  grid-column: preicon-start / span preicon-end;
  grid-row: interest-start / span interest-end;
  place-self: center start;
}

.icon{
  grid-column: icon-start / span icon-end;
  grid-row: interest-start / span interest-end;
  place-self: center;
}

.icon i {
  padding: 0 10px 0 10px;
}

.icon i.fa-shield-alt:hover {
  color: #bd1a1a;
}

.icon i.fa-database:hover {
  color: #4787c2;
}

.icon i.fa-project-diagram:hover {
  color: #31d11c;
}


.label {
  font-family: Reenie Beanie;
  font-style: normal;
  font-size: 4vh;
  color: #000000;
  
  grid-column: label-start / span label-end;
  grid-row: interest-start / span interest-end;
  place-self: center end;
}
